<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-briefcase me-2"></i>CAREER CORE
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "about" %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "job_listings" %}">Job Listings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "job_listings" %}">For Job Seekers</a></li>
                        {% if user.is_authenticated %}
                        {% if user.recruiter_profile.is_head_recruiter and user.is_superuser %}
                        <li><a class="dropdown-item" href="{% url "admin_dashboard" %}">Dashboard</a></li>
                        {% endif %}
                        {% else %}
                        <li><a class="dropdown-item" href="{% url "login" %}">For Employers</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#">Career Coaching</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "contact" %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item ms-lg-2">
                    <a class="btn btn-outline-light" href="{% url "profile" %}">
                        <i class="fas fa-user me-1"></i> {{user.full_name}}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
